.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.view {}

.container {
  width: 100vw;
  height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-content-detail {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  width: 100%;
  text-align: center;
}

.container-actions-todo {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.detail-todo {
  text-align: center;
  width: 100%;
}

.listing-todo {
  flex: 1;
  background: blue;
}

.form-todo {
  flex: 1;
}

.header-todo {
  text-align: center;
  font-size: 32px;
  text-transform: capitalize;
}

.content-todo {
  font-size: 14px;
  text-align: center;
}

.href {
  position: relative;
  background: green;
  width: 50%;
}

.href::before {
  position: absolute;
  content: '';
  background: #fff;
  height: calc(100% - 50%);
  width: 2px;
  top: 0;
  left: 50%;
}

.href.top::before {
  bottom: 0;
  top: auto;
}

i.text {
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.child-content {
  display: block;
  width: 50%;
}